<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="./loki-appender.xml" />

    <springProfile name="!production">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="LOKI" />
        </root>
    </springProfile>
    <springProfile name="production">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <logger name="org.springframework.web" level="DEBUG"/>
</configuration>