name: "Java CI with Gradle"
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: "ubuntu-latest"
    permissions:
      contents: "read"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"
      - name: "Install JDK 21"
        uses: "actions/setup-java@v4"
        with:
          java-version: "21"
          distribution: "corretto"
      - name: "Install Gradle"
        uses: "gradle/actions/setup-gradle@417ae3ccd767c252f5661f1ace9f835f9654f2b5"
      - name: "Build with Gradle"
        run: "./gradlew build"
  dependency-submission:
    runs-on: "ubuntu-latest"
    permissions:
      contents: "write"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"
      - name: "Install JDK 21"
        uses: "actions/setup-java@v4"
        with:
          java-version: "21"
          distribution: "corretto"
      - name: "Generate and submit dependency graph"
        uses: "gradle/actions/dependency-submission@417ae3ccd767c252f5661f1ace9f835f9654f2b5"
